<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="../../assets/Q9ZfqJro.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
        </div>
        <div class="col s10">
          <span class="black-text">
            Ana Maria
          </span>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="Rua XPTO, 1000" id="disabled" type="text" class="validate active">
          <label for="disabled">Partida</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="Rua Tal - Heliópolis" id="disabled" type="text" class="validate active">
          <label for="disabled">Destino</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input disabled value="Cartão de Crédito" id="disabled" type="text" class="validate active">
          <label for="disabled">Forma de Pagamento</label>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a class="waves-effect waves-light btn" [routerLink]="'/main-screen'">Aceitar corrida</a>
        </div>
      </div>
    </div>
  </div>
