
<div class="card">
  <div class="card-content white-text">
    <div class="row">
      <div class="col s12 black-text">
        <h2 class="center-align">
          <b>Parceiro</b><br>
          Chama Nóis
        </h2>
      </div>
    </div>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="Placeholder" id="phone_number" type="text" class="validate">
            <label for="first_name">Número de celular</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Senha</label>
          </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <a class="waves-effect waves-light btn-flat" [routerLink]="'/register-first'">Cadastrar</a>
            <a class="waves-effect waves-light btn">Entrar</a>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col s12 center-align">
            <a class="waves-effect waves-light btn-flat" [routerLink]="'/register-first'">Cadastrar</a>
          </div>
        </div> -->
      </form>
  </div>
</div>